@model SummaryModel
@{
    ViewData["Title"] = "Summary";
    Layout = "_LayoutSummary";
}

@section Styles
{
    <style>
        h1 {
            color: green;
        }
    </style>
}

<h1>Summary</h1>
<h2>@Model.SummaryText</h2>

@section Scripts
{
    <script type="text/javascript">
        alert("helo");
    </script>
}


